*.ilk
*.pdb
*.exp
*.iobj
*.ipdb
*.lastcodeanalysissucceeded
*.exe
*.dll
*.pyd
*.so
*.dylib
/.vs
leechrpc_h.h
leechrpc_c.c
leechrpc_s.c
/files/lib
/files/temp
/files/ARM64
/files/x86/lib
/leechcorepyc/pkg_linux
/files/leechagent
